/* background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%); */

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.button {
  color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 30px;
  display: inline-block;
  border: none;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    90deg,
    hsla(258, 75%, 51%, 1),
    hsla(358, 75%, 51%, 1)
  );
  background-size: 600%;
}
h1 {
  font-size: 4rem;
}
p {
  font-size: 1.2rem;
}

/* Section 1 */
.section1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
.categories {
  color: black;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 1.2rem;
  font-weight: bold;

  display: inline-block;
  border: none;
  font-family: "Inter", sans-serif;
  border: 0.1rem;
  border-style: groove;
  border-color: blueviolet;
  box-shadow: 5px 5px rgb(189, 115, 207);
}
.categories:hover {
  color: #fff;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;

  display: inline-block;
  border: none;
  font-family: "Inter", sans-serif;
  background: linear-gradient(
    90deg,
    hsla(258, 75%, 51%, 1),
    hsla(358, 75%, 51%, 1)
  );
  background-size: 600%;
}

.sec1List {
  font-weight: bold;
  font-size: 1rem;
  color: black;
}
.sec1List:hover {
  text-decoration: underline;
  cursor: pointer;
}

.sec1Icons {
  font-size: 1.5rem;
}

/* Section 1 Ends */
/* Section 2 Ends */
.section2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
  padding: auto;
}

/* Section 2 Ends */
/* Section 3 Starts */
.section3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
/* Section 3 Ends */
/* Section 4 Starts */
.section4 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-right: 15%;
}
/* Section 4 Ends */
